.boxes{
    display: flex;
    position: relative;
    font-size: 30px;
    /* height: calc(100% - 100px); */
   
}

.leftbox{
    padding: 5vw 8vw;
    width: 50%;
    height: 100%;
}

.leftbox h1{
    font-size: 1em;
    margin-bottom: 2vw;
    font-weight: 800;
}

.leftbox .para{
    margin-bottom: 2vw;
}

.lock{
    width: 50%;
    height: 30%;
    color: #fff;
    margin-bottom: 1vw;
    margin-left: -40    px;
}

.paul{
    font-size: 1.4rem;
    padding: 2vw;
    /* margin-bottom: rem; */
}

small{
    margin-left: 2rem;
    letter-spacing: 4px;
    font-size: 0.9rem;
}
.rightbox{
    width: 50%;
    height: calc(100vh - 100px);
    /* height: 100%; */
}
img{
    width: 100%;
    object-fit: contain;
    height: 100%;
}